<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Spam Detector</title>
    <link type="text/css" href="/static/assets/MDB/css/mdb.min.css" rel="stylesheet">
    <link type="text/css" href="/static/assets/MDB/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/static/assets/MDB/css/mdb.css" rel="stylesheet">
    <link type="text/css" href="/static/assets/css/base.css" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&amp;display=swap">
    <style>
         #main{
                min-height: calc(100vh - 56px - 53px);
            }
         .container{
             font-family: 'Poppins', sans-serif;
         }
    </style>
    {% block base_head %}{% endblock %}

</head>
<body class="body">
{% include "base/navbar.html" %}
<div class="container" id="main">
    {% block content %}
    {% endblock %}
</div>
{% include "base/footer.html" %}
</body>

</html>
